html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1F2020;
}
body {
  font-family: 'Lato', sans-serif;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: start;
  width: 100%;
  background-color: #3c3c3c;
  border-radius: 10px;
  position: relative;
  padding-bottom: 5px;
  overflow: hidden;
}
.container::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  width: 100%;
  background-image: linear-gradient(
    to right,
    #4285f4 25%,
    #34a853 25% 50%,
    #fbbc05 50% 75%,
    #ea4335 75% 100%
  );
}
.logo {
  max-width: 80px;
  max-height: 80px;
  padding: 15px;
}
h1, h2, p {
  margin: 20px 0;
  color: #fff;
}
h1, h2 {
  text-align: left;
  font-weight: 700;
  font-size: 28px;
}
h2 {
  font-size: 20px;
}
p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

@media (min-width: 768px) {
  h1, h2 {
    font-size: 32px;
  }
  p {
    font-size: 24px;
  }
}
